    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

        .container{
        max-width: 1200px;
        margin: 0 auto;
    }

    body{
        background: #EDF3F8;
    }

    .point{
        height: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .point__start{
        display: flex;
        gap: 50px;
        align-items: center;
    }

    .point__start ul{
        display: flex;
        gap: 30px;
        align-items: center;
        list-style: none;
    }

    .point__start a{
        font-family: 'Public Sans',sans-serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 17.63px;
    text-align: left;
    color: #36536B;
    text-decoration: none;
    }

    .point button{
    width: 173px;
    height: 48px;
    background: #BA4270;
    box-shadow: 10px 10px 25px -10px #36536B40;
    border: none;
    border-radius: 100px;
    font-family: 'Public Sans',sans-serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 17.63px;
    letter-spacing: -0.11538461595773697px;
    text-align: center;
    color: #FBFCFE;
    }

    .tabasum{
        width: 90%;
        display: flex;
        gap: 250px;
        align-items: center;
        margin-bottom: 100px;
    }

    .tabasum__qiling h1{
        height: 250px;
        font-family: DM Serif Display;
    font-size: 72px;
    font-weight: 500;
    line-height: 72px;
    letter-spacing: -0.5538461804389954px;
    text-align: left;
    color: #36536B;
    }

    .tabasum img{
        width: 263px;
        height: 500px;
    }

    .speaker{
        background-image: url(./img/Bitmap\ \(29\).png);
        background-repeat: no-repeat;        
        background-size: cover;
        background-position: 600px 1px;
        border-radius: 100px 0px 0px 100px;
    }

    .texnika {
        display: flex;
        gap: 100px;
        align-items: center;
        width: 445px;
    height: 48px;
    background: #FBFCFE;
    box-shadow: 10px 10px 25px -10px #36536B40;
    border-radius: 100px  100px  100px 100px ;
    font-family: 'Public Sans',sans-serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 17.63px;
    text-align: left;
    padding-left: 26px;
    text-decoration: none;
    color: #36536B;
        margin-bottom: 15px;
    }

    .top{
        opacity: 50%;
        text-decoration: none;
    }

    .left{
        width: 173px;
    height: 48px;
    background: #BA4270;
    border-radius: 100px;
    font-family: 'Public Sans',sans-serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 17.63px;
    letter-spacing: -0.11538461595773697px;
    text-align: center;
    padding-top: 15px;
    text-decoration: none;
    color: #FBFCFE;
    }

    .enter{
        font-family: 'Public Sans',sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 17.63px;
    text-align: left;
    color: #6C8294;
    text-decoration: none;
    }

    .enter span{
        font-family: 'Public Sans',sans-serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 17.63px;
    text-align: left;
    color: #6C8294;
    }

    .new{
        background: #1B262F;
    }

    .new__restangle{
        background-image: url(img/Bitmap\ \(26\).png);
        background-repeat: no-repeat;
        background-position: -70px -70px;
    }

    .new__restangle__btn{
        width: 86%;
        display: flex;
        gap: 60px;
        align-items: center;
    }

    .new__restangle__btn__box h2{
        width: 445px;
        height: 180px;
        font-family: 'DM Serif Display',sans-serif;
    font-size: 48px;
    font-weight: 400;
    line-height: 56px;
    letter-spacing: -0.3692307770252228px;
    text-align: left;
    color: #FBFCFE;
    padding-top: 100px;
    }

    .new__restangle__btn__box p{
        height: 150px;
        font-family: 'Public Sans',sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    color: #FBFCFE;
    }

    .new__restangle__btn__box button{
        width: 129px;
    height: 48px;
    top: 1061px;
    left: 165px;
    gap: 0px;
    opacity: 0px;
    background: none;
    border: 1px solid #FBFCFE;
    border-radius: 100px;
    font-family: 'Public Sans',sans-serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 17.63px;
    letter-spacing: -0.11538461595773697px;
    text-align: center;
    color: #FBFCFE;
    margin-bottom: 170px;
    }

    .miler{
        display: flex;
        gap: 50px;
    }

    .miler__cptain{
        display: flex;
        flex-direction: column;
        gap: 50px;
        align-items: center;
    }

    .cook{
        width: 90%;
        display: flex;
        gap: 50px;
        align-items: center;
    }

    .cook__cry h2{
        font-family: 'DM Serif Display',sans-serif;
    font-size: 48px;
    font-weight: 400;
    line-height: 56px;
    letter-spacing: -0.3692307770252228px;
    text-align: left;
    color: #36536B;
    }

    .cook__cry p{
        font-family: 'Public Sans',sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    color: #6C8294;
    }

    .drink{
        width: 100%;
        display: flex;
        gap: 50px;
        align-items: center;
    }

    .jump{
        background-image: url(./img/Mask\ Copy.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: 900px 1px;
        border-radius: 10px 2000px 2000px 10px;
    }

    .drink__drive h2{
        font-family: 'DM Serif Display',sans-serif;
    font-size: 48px;
    font-weight: 400;
    line-height: 56px;
    letter-spacing: -0.3692307770252228px;
    text-align: left;
    color: #36536B;
    }

    .drink__drive p{
        font-family: 'Public Sans',sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    color: #6C8294;
    }

    .sleep{
        margin-top: 70px;
         width: 100%;
        display: flex;
        gap: 125px;
        text-align: center;
        margin-bottom: 100px;
    }

    .sleep__dream h2{
        height: 40px;
        font-family: 'Public Sans',sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: -0.13846154510974884px;
    text-align: center;
    color: #36536B;
    }

    .sleep__dream p{
        font-family: 'Public Sans',sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: -0.11538461595773697px;
    text-align: center;
    color: #6C8294;
    }

    .write{
        display: flex;
        justify-content: space-between;
        margin-bottom: 100px;
    }

    .write__point h2{
        font-family: 'DM Serif Display',sans-serif;
    font-size: 48px;
    font-weight: 400;
    line-height: 56px;
    letter-spacing: -0.3692307770252228px;
    text-align: left;
    color: #36536B;
    }

    .cake{
        background: #1B262F;
    }

    .cake__pie{
        height: 100px;
        display: flex;
        gap: 600px;
        align-items: center;
    }

    .cake__pie__ice{
        display: flex;
        gap: 50px;
        align-items: center;
    }

    .cake__pie__ice ul{
        display: flex;
        gap: 30px;
        align-items: center;
        list-style: none;
    }

    .cake__pie__ice a{
        opacity: 70%;
        font-family: 'Public Sans',sans-serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 17.63px;
    text-align: left;
    color: #FBFCFE;
    text-decoration: none;
    }

    .cream{
        background-image: url(./img/Bitmap\ \(27\).png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 900px 1px;
    }

    .cream__wafle{
        display: flex;
        gap: 20px;
    }

    @media (max-width: 768px){
        .speaker{
        background-image: url(./img/Bitmap\ \(29\).png);
        background-repeat: no-repeat;        
        background-size: cover;
        background-position: 600px 30px;
    }

        .point{
        height: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        }

        .point__start{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .tabasum{
        flex-direction: column-reverse;
    }

    .tabasum__qiling h1{
font-size: 48px;
text-align: center;
    }

    .texnika{
        width: 445px;
        height: 48px;
        margin-left: 50px;
        text-align: center;
    }

    .enter{
        font-family: 'Public Sans',sans-serif;
font-size: 15px;
text-align: left;
margin-left: 150px;
    }

    .new{
    width: 768px;
    height: 650px;  
    background: #1B262F;
    }

    .new__restangle{
        background-image: url(img/Bitmap\ \(30\).png);
        background-repeat: no-repeat;   
        background-position: -10px -10px;
        background-size: contain;
    }

    .new{
        width: 768px;
height: 615px;
background: #1B262F;
    }

    .new__restangle__btn{
        flex-direction: column-reverse;
    }

    .new__restangle__btn__box h2{
        height: 170px;
        font-size: 48px;
        text-align: center;
    }

    .new__restangle__btn__box p{
        width: 456px;
height: 130px;
font-size: 15px;
text-align: center;
    }

    .new__restangle__btn__box button{
        width: 129px;
        height: 48px;
        margin-left: 150px;
    }

    .miler__cptain{
        padding-top: 50px;
    }

    .cook{
        text-align: center;
        flex-direction: column;
    }

    .cook__cry h2{
font-size: 48px;
text-align: center;
    }

    .cook__cry p{ 
    width: 573px;
font-size: 15px;
text-align: center;
    }

.drink{
    flex-direction: column-reverse;
    text-align: center;
}

.drink__drive h2{
font-size: 48px;
text-align: center;
}

.drink__drive p{
font-size: 15px;
text-align: center;
}


.write{
    flex-direction: column;
    text-align: center;
}

.write__point h2{
    font-size: 48px;
    text-align: center;
}

.cake{
    width: 768px;
    height: 100px;
    }

    .cake__pie{
        flex-direction: column;
        text-align: center;
    }

}
@media (max-width: 375px) {
    .speaker{
      background-image: url(./img/Bitmap\ \(31\).png);
        background-repeat: no-repeat;       
        border-radius: 0px 0px 1000px 1000px;
    }

        .point__start ul{
        display: none;
    }

     .tabasum{
        text-align: center;
        flex-direction: column-reverse;
    }

    .tabasum__qiling h1{
        width: 573px;
text-align: center;
    }



    .top{
        width: 327px;
height: 48px;
background: #FBFCFE;
box-shadow: 10px 10px 25px -10px #36536B40;
font-size: 15px;
text-align: left;
padding-top: 15px;

    }

    .texnika{
        flex-direction: column;
    }

    .left{
        width: 327px;
min-height: 48px;
background: #BA4270;
font-size: 15px;
text-align: center;
padding-top: 20px;
    }

    .enter{
        font-family: 'Public Sans',sans-serif;
font-size: 15px;
text-align:  center;
margin-left: 150px;
    }

     .new{
    width: 375px;
    min-height: 70px;  
    background: #1B262F;
    }

 .new__restangle__btn__box h2{
font-size: 32px;
text-align: center;
    }

    .cook img{
        width: 328px;
height: 209px;
    }

    .cook__cry h2{
font-size: 36px;
text-align: center;
    }

    .cook__cry p{
        width: 328px;
font-size: 15px;
text-align: center;
    }

    .drink img{
        width: 328px;
height: 290px;
    }

    .drink__drive h2{
font-size: 36px;
text-align: center;
    }


    .drink__drive p{
        width: 328px;
font-size: 15px;
text-align: center;
    }

    .sleep{
        flex-direction: column;
        text-align: center;
    }

    .sleep__dream h2{
        font-size: 18px;
        text-align: center;
        width: 328px;
    }

    .sleep__dream p{
        font-size: 15px;
        text-align: center;
        width: 328px;
    }

    .sleep__dream img{
        width: 106px;
        height: 106px;
    }

    .cake{
        width: 780px;
height: 780px;
    }

    .cake__pie{
        flex-direction: column;
        
    }

    .cake__pie__ice ul{
        flex-direction: column;
    }
}